{% load news_tags %}

{% comment %}
<div class="list-group">
    {% get_categories as categories %}
    {% for i in categories %}

    <a href="{% url 'category' i.pk %}" class="list-group-item list-group-item-action">{{ i.title }}</a>
    {% endfor %}
</div>
{% endcomment %}

{% show_categories %}
<br>
