{% extends 'base.html' %}

{% block title %}

Добавить новость :: {{ block.super }}

{% endblock %}


{% block content %}

<h1>Добавить новость</h1>

<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}

    {{ form.non_field.errors }}
    {% comment %}
    <div class="form-group">
        <label for="{{ form.title.id_for_label }}">Название:</label>
        {{form.title}}
    </div>
    <div class="invalid-feedback">
        {{form.title.errors}}
    </div>
    <br>
    <div class="form-group">
        <label for="{{ form.content.id_for_label }}">Контент:</label>
        {{form.content}}
    </div>
    <div class="invalid-feedback">
        {{form.content.errors}}
    </div>
    <br>
    <div class="form-group">
        <label for="{{ form.category.id_for_label }}">Категория:</label>
        {{form.category}}
    </div>
    <div class="invalid-feedback">
        {{form.category.errors}}
    </div>
    <br>
    <div class="form-group">
        <label for="{{ form.is_published.id_for_label }}">Черновик:</label>

        {{form.is_published}}
        <div class="invalid-feedback">
            {{form.is_published.errors}}
        </div>
    </div>
    <br>
    {% endcomment %}

    {% comment %}
    {% for field in form %}
    <div class="form-group">
        {{field.label_tag}}
        {{field}}
        <div class="invalid-feedback">
            {{field.errors}}
        </div>
        <br>
    </div>
    {% endfor %}
    {% endcomment %}
    <button type="submit" class="btn btn-primary btn-block">Добавить новость
    </button>

</form>

{% endblock %}
