{% extends 'base.html' %}

{% block title %}

{{category.title}}

{% endblock %}

{% block sidebar %}

{% include 'inc/_sidebar.html' %}

{% endblock %}

{% block content %}

{% for i in news %}
<div class="card mb-3">
    <div class="card-header">
        Категория: {{i.category.title}}
    </div>
    <div class="card-body">
        <div class="media">
            {% if i.photo %}
            <img src="{{ i.photo.url }}" alt="" width="350" class="mr-3">
            {% endif %}


            <div class="media-body">


                <h5 class="card-title">{{i.title}}</h5>
                <p class="card-text">{{i.content}}</p>
                <a href="#" class="btn btn-primary">Read more...</a>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        {{ i.created_at|date:"Y-m-d H:i:s"}}
    </div>
</div>
{% endfor %}

{% endblock %}
