{% extends 'base.html' %}

{% block title %}

{{news_item.title}}

{% endblock %}

{% block sidebar %}

{% include 'inc/_sidebar.html' %}

{% endblock %}

{% block content %}

<div class="card mb-3">
    <div class="card-header">
        Категория: <a href="{{news_item.get_absolute_url}}"> {{ news_item.category }}</a>
    </div>
    <div class="card-body">
        {% if news_item.photo %}
        <img src="{{ news_item.photo.url }}" alt="" width="350" class="float-left mr-3">
        {% endif %}


        <h5 class="card-title">{{news_item.title}}</h5>
        <p class="card-text">{{news_item.content}}</p>

    </div>
    <div class="card-footer text-muted">
        {{ news_item.created_at|date:"Y-m-d H:i:s"}}
    </div>
</div>

{% endblock %}
